In [1]:
print("Welcome to my world")

Welcome to my world

In [4]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
my2var = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)
print(my2var)

John
John
John
John
John
John
John

In [4]:
#import pandas as pd
C_Data={'Name':['Naveen','Sudha','Sumathi','Shilpi'],'Age':[22,24,34,32],'Address':['Chennai','US','Delhi','Hyd'],'Company':['AS','AS','AS','AS]}
df=pd.dataframe(C_Data)
print(df)

SyntaxError: unterminated string literal (detected at line 2) (3736185897.py, line 2)

In [1]:
print(-4)  #-4

-4

In [2]:
1 + 1

2

In [3]:
age = 8
age += 1

In [4]:
a = 1
b = 2
a == b

False

In [5]:
a != b #True
a > b #False
a <= b

True

In [6]:
print(0 or 1)

1

In [7]:
def is adult(age):
          if age > 18:
               return True
else:
               return False

SyntaxError: invalid syntax (223681976.py, line 1)

In [8]:
condition = True
 
if condition == True:
        print("The condition")
        print("was True")
else:
        print("The condition")
        print("was False")

The condition
was True

In [9]:
condition = True
name = "Aspire"
 
if condition == True:
      print("The condition")
      print("was True")
elif name == "Aspire":
      print("Hello Aspire")
else:
      print("The condition")
      print("was False")

The condition
was True

In [10]:
condition = True
name = "Aspire"
if condition == True:
         print("The condition")
         print("was True")
elif name == "Naveen":
         print("Hello Naveen")
elif name == "Jaya":
         print("Hello Jaya")
elif name == "Kumar":
         print("Hello Kumar")
else:
         print("The condition")
         print("was False")

The condition
was True

In [11]:
condition = True
name = "Aspire"
if condition == True:
         print("The condition")
         print("was True")
elif name == "Naveen":
         print("Hello Naveen")
elif name == "Jaya":
         print("Hello Jaya")
elif name == "Kumar":
         print("Hello Kumar")
else:
         print("The condition")
         print("was False")

The condition
was True

In [19]:
#import pandas as pd
C_Data={'Name':['Naveen','Sudha','Sumathi','Shilpi'],
        'Age':[22,24,34,32],
        'Address':['Chennai','US','Delhi','Hyd'],
        'Company':['AS','AS','AS','AS']}
#df=pd.DataFrame(C_Data)
print(C_Data)

{'Name': ['Naveen', 'Sudha', 'Sumathi', 'Shilpi'], 'Age': [22, 24, 34, 32], 'Address': ['Chennai', 'US', 'Delhi', 'Hyd'], 'Company': ['AS', 'AS', 'AS', 'AS']}

In [13]:
import pandas as pd

C_Data = { 'Name' :['Bharath','Bharath','Sumathi','Lalit','Abdul'],
          'Age': [27,28,33,34,23],
          'Address': ['Chennai','Chennai','Delhi','Hyd','bangalore'],
          'Company':['Aspire system','Aspire system','Aspire system','Aspire system','Aspire system']}
df =pd.DataFrame(C_Data)

print(df)

      Name  Age    Address        Company
0  Bharath   27    Chennai  Aspire system
1  Bharath   28    Chennai  Aspire system
2  Sumathi   33      Delhi  Aspire system
3    Lalit   34        Hyd  Aspire system
4    Abdul   23  bangalore  Aspire system

In [1]:
import pandas as pd

df = pd.read_csv('data.1.csv')

print(df.to_string())

          Duration          Date  Pulse  Maxpulse  Calories
0     0         60  '2020/12/01'    110       130     409.1
1     1         60  '2020/12/02'    117       145     479.0
2     2         60  '2020/12/03'    103       135     340.0
3     3         45  '2020/12/04'    109       175     282.4
4     4         45  '2020/12/05'    117       148     406.0
5     5         60  '2020/12/06'    102       127     300.0
6     6         60  '2020/12/07'    110       136     374.0
7     7        450  '2020/12/08'    104       134     253.3
8     8         30  '2020/12/09'    109       133     195.1
9     9         60  '2020/12/10'     98       124     269.0
10    10        60  '2020/12/11'    103       147     329.3
11    11        60  '2020/12/12'    100       120     250.7
12    12        60  '2020/12/12'    100       120     250.7
13    13        60  '2020/12/13'    106       128     345.3
14    14        60  '2020/12/14'    104       132     379.3
15    15        60  '2020/12/15'     98       123     275.0
16    16        60  '2020/12/16'     98       120     215.2
17    17        60  '2020/12/17'    100       120     300.0
18    18        45  '2020/12/18'     90       112       NaN
19    19        60  '2020/12/19'    103       123     323.0
20    20        45  '2020/12/20'     97       125     243.0
21    21        60  '2020/12/21'    108       131     364.2
22    22        45           NaN    100       119     282.0
23    23        60  '2020/12/23'    130       101     300.0
24    24        45  '2020/12/24'    105       132     246.0
25    25        60  '2020/12/25'    102       126     334.5
26    26        60      20201226    100       120     250.0
27    27        60  '2020/12/27'     92       118     241.0
28    28        60  '2020/12/28'    103       132       NaN
29    29        60  '2020/12/29'    100       132     280.0
30    30        60  '2020/12/30'    102       129     380.3
31    31        60  '2020/12/31'     92       115     243.0

In [2]:
df = pd.read_csv('data.1.csv')

print(df.head())

    Duration          Date  Pulse  Maxpulse  Calories
0    0         60  '2020/12/01'    110       130 ...
1    1         60  '2020/12/02'    117       145 ...
2    2         60  '2020/12/03'    103       135 ...
3    3         45  '2020/12/04'    109       175 ...
4    4         45  '2020/12/05'    117       148 ...

In [3]:
df = pd.read_csv('data.1.csv')

print(df.head(10))

    Duration          Date  Pulse  Maxpulse  Calories
0    0         60  '2020/12/01'    110       130 ...
1    1         60  '2020/12/02'    117       145 ...
2    2         60  '2020/12/03'    103       135 ...
3    3         45  '2020/12/04'    109       175 ...
4    4         45  '2020/12/05'    117       148 ...
5    5         60  '2020/12/06'    102       127 ...
6    6         60  '2020/12/07'    110       136 ...
7    7        450  '2020/12/08'    104       134 ...
8    8         30  '2020/12/09'    109       133 ...
9    9         60  '2020/12/10'     98       124 ...

In [4]:
df = pd.read_csv('data.1.csv')
print(df.tail())

     Duration          Date  Pulse  Maxpulse  Calories
27    27        60  '2020/12/27'     92       118 ...
28    28        60  '2020/12/28'    103       132 ...
29    29        60  '2020/12/29'    100       132 ...
30    30        60  '2020/12/30'    102       129 ...
31    31        60  '2020/12/31'     92       115 ...

In [5]:
df=pd.read_csv('data.1.csv')
print(df.tail(15))

     Duration          Date  Pulse  Maxpulse  Calories
17    17        60  '2020/12/17'    100       120 ...
18    18        45  '2020/12/18'     90       112 ...
19    19        60  '2020/12/19'    103       123 ...
20    20        45  '2020/12/20'     97       125 ...
21    21        60  '2020/12/21'    108       131 ...
22    22        45           NaN    100       119 ...
23    23        60  '2020/12/23'    130       101 ...
24    24        45  '2020/12/24'    105       132 ...
25    25        60  '2020/12/25'    102       126 ...
26    26        60      20201226    100       120 ...
27    27        60  '2020/12/27'     92       118 ...
28    28        60  '2020/12/28'    103       132 ...
29    29        60  '2020/12/29'    100       132 ...
30    30        60  '2020/12/30'    102       129 ...
31    31        60  '2020/12/31'     92       115 ...

In [7]:
df=pd.read_csv('data.1.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 1 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0     Duration          Date  Pulse  Maxpulse  Calories  32 non-null     object
dtypes: object(1)
memory usage: 388.0+ bytes
None

In [8]:
df=pd.read_csv('data.1.csv')
df.dropna()
print(df.to_string())

          Duration          Date  Pulse  Maxpulse  Calories
0     0         60  '2020/12/01'    110       130     409.1
1     1         60  '2020/12/02'    117       145     479.0
2     2         60  '2020/12/03'    103       135     340.0
3     3         45  '2020/12/04'    109       175     282.4
4     4         45  '2020/12/05'    117       148     406.0
5     5         60  '2020/12/06'    102       127     300.0
6     6         60  '2020/12/07'    110       136     374.0
7     7        450  '2020/12/08'    104       134     253.3
8     8         30  '2020/12/09'    109       133     195.1
9     9         60  '2020/12/10'     98       124     269.0
10    10        60  '2020/12/11'    103       147     329.3
11    11        60  '2020/12/12'    100       120     250.7
12    12        60  '2020/12/12'    100       120     250.7
13    13        60  '2020/12/13'    106       128     345.3
14    14        60  '2020/12/14'    104       132     379.3
15    15        60  '2020/12/15'     98       123     275.0
16    16        60  '2020/12/16'     98       120     215.2
17    17        60  '2020/12/17'    100       120     300.0
18    18        45  '2020/12/18'     90       112       NaN
19    19        60  '2020/12/19'    103       123     323.0
20    20        45  '2020/12/20'     97       125     243.0
21    21        60  '2020/12/21'    108       131     364.2
22    22        45           NaN    100       119     282.0
23    23        60  '2020/12/23'    130       101     300.0
24    24        45  '2020/12/24'    105       132     246.0
25    25        60  '2020/12/25'    102       126     334.5
26    26        60      20201226    100       120     250.0
27    27        60  '2020/12/27'     92       118     241.0
28    28        60  '2020/12/28'    103       132       NaN
29    29        60  '2020/12/29'    100       132     280.0
30    30        60  '2020/12/30'    102       129     380.3
31    31        60  '2020/12/31'     92       115     243.0

In [9]:
df=pd.read_csv('data.1.csv')
df.dropna(inplace=True)
print(df.to_string())

          Duration          Date  Pulse  Maxpulse  Calories
0     0         60  '2020/12/01'    110       130     409.1
1     1         60  '2020/12/02'    117       145     479.0
2     2         60  '2020/12/03'    103       135     340.0
3     3         45  '2020/12/04'    109       175     282.4
4     4         45  '2020/12/05'    117       148     406.0
5     5         60  '2020/12/06'    102       127     300.0
6     6         60  '2020/12/07'    110       136     374.0
7     7        450  '2020/12/08'    104       134     253.3
8     8         30  '2020/12/09'    109       133     195.1
9     9         60  '2020/12/10'     98       124     269.0
10    10        60  '2020/12/11'    103       147     329.3
11    11        60  '2020/12/12'    100       120     250.7
12    12        60  '2020/12/12'    100       120     250.7
13    13        60  '2020/12/13'    106       128     345.3
14    14        60  '2020/12/14'    104       132     379.3
15    15        60  '2020/12/15'     98       123     275.0
16    16        60  '2020/12/16'     98       120     215.2
17    17        60  '2020/12/17'    100       120     300.0
18    18        45  '2020/12/18'     90       112       NaN
19    19        60  '2020/12/19'    103       123     323.0
20    20        45  '2020/12/20'     97       125     243.0
21    21        60  '2020/12/21'    108       131     364.2
22    22        45           NaN    100       119     282.0
23    23        60  '2020/12/23'    130       101     300.0
24    24        45  '2020/12/24'    105       132     246.0
25    25        60  '2020/12/25'    102       126     334.5
26    26        60      20201226    100       120     250.0
27    27        60  '2020/12/27'     92       118     241.0
28    28        60  '2020/12/28'    103       132       NaN
29    29        60  '2020/12/29'    100       132     280.0
30    30        60  '2020/12/30'    102       129     380.3
31    31        60  '2020/12/31'     92       115     243.0

In [11]:
df=pd.read_csv('data.1.csv')
df.fillna(45,inplace=True)
print(df.to_string())

          Duration          Date  Pulse  Maxpulse  Calories
0     0         60  '2020/12/01'    110       130     409.1
1     1         60  '2020/12/02'    117       145     479.0
2     2         60  '2020/12/03'    103       135     340.0
3     3         45  '2020/12/04'    109       175     282.4
4     4         45  '2020/12/05'    117       148     406.0
5     5         60  '2020/12/06'    102       127     300.0
6     6         60  '2020/12/07'    110       136     374.0
7     7        450  '2020/12/08'    104       134     253.3
8     8         30  '2020/12/09'    109       133     195.1
9     9         60  '2020/12/10'     98       124     269.0
10    10        60  '2020/12/11'    103       147     329.3
11    11        60  '2020/12/12'    100       120     250.7
12    12        60  '2020/12/12'    100       120     250.7
13    13        60  '2020/12/13'    106       128     345.3
14    14        60  '2020/12/14'    104       132     379.3
15    15        60  '2020/12/15'     98       123     275.0
16    16        60  '2020/12/16'     98       120     215.2
17    17        60  '2020/12/17'    100       120     300.0
18    18        45  '2020/12/18'     90       112       NaN
19    19        60  '2020/12/19'    103       123     323.0
20    20        45  '2020/12/20'     97       125     243.0
21    21        60  '2020/12/21'    108       131     364.2
22    22        45           NaN    100       119     282.0
23    23        60  '2020/12/23'    130       101     300.0
24    24        45  '2020/12/24'    105       132     246.0
25    25        60  '2020/12/25'    102       126     334.5
26    26        60      20201226    100       120     250.0
27    27        60  '2020/12/27'     92       118     241.0
28    28        60  '2020/12/28'    103       132       NaN
29    29        60  '2020/12/29'    100       132     280.0
30    30        60  '2020/12/30'    102       129     380.3
31    31        60  '2020/12/31'     92       115     243.0

In [13]:
import pandas as pd

df = pd.read_csv('data.1.csv')

df['Calories'].fillna(130, inplace = True)

KeyError: 'Calories'